In [4]:
for i in range(1,3):
    x = input('Enter the first number')
    y = input('Enter the second number')
    z = int(x) + int(y)
    print(z)

Enter the first number8
Enter the second number9
17
Enter the first number3
Enter the second number3
6

In [5]:
!ls -l ../data

total 680
-rw-rw-rw-@ 1 keemsunguk  staff  148575 Dec 21  2009 alice.txt
-rw-r--r--@ 1 keemsunguk  staff     123 Dec 21  2009 small.txt
-rw-r--r--@ 1 keemsunguk  staff  190926 Jul  8 22:37 tr_eikon_eod_data.csv

In [6]:
in_path = '../data/'
with open(in_path+'small.txt', 'r') as rf:
    text = rf.read()

print(text)

We are not what we should be
We are not what we need to be
But at least we are not what we used to be
  -- Football Coach

In [7]:
in_path = '../data/'
with open(in_path+'small.txt', 'r') as rf:
    text = rf.readlines()   #Creates a list of strings from file

print(text[0])

We are not what we should be

In [11]:
for i in range(0, 4):
    print(text[i])

We are not what we should be

We are not what we need to be

But at least we are not what we used to be

  -- Football Coach

In [13]:
len(text)

5

In [14]:
for i in range(0,len(text)):
    print(text[i])

We are not what we should be

We are not what we need to be

But at least we are not what we used to be

  -- Football Coach

In [20]:
print(text)

['We are not what we should be\n', 'We are not what we need to be\n', 'But at least we are not what we used to be\n', '  -- Football Coach\n', '\n']

In [17]:
for line in text:
    print(line.upper())
    print(line.lower())

WE ARE NOT WHAT WE SHOULD BE

we are not what we should be

WE ARE NOT WHAT WE NEED TO BE

we are not what we need to be

BUT AT LEAST WE ARE NOT WHAT WE USED TO BE

but at least we are not what we used to be

  -- FOOTBALL COACH

  -- football coach

In [21]:
for line in text:
    ln = line.replace('\n', '')
    print(ln, len(ln))

We are not what we should be 28
We are not what we need to be 29
But at least we are not what we used to be 42
  -- Football Coach 19
 0

In [24]:
ln = text[1].replace('\n', '')
ln

'We are not what we need to be'

In [26]:
words = ln.split(' ')
len(words)

8

In [35]:
for line in text:
    ln = line.replace('\n', '')
    ln = ln.strip(' ')
    
    if len(ln) > 0:
        words = ln.split(' ')
        print(ln, len(words))

We are not what we should be 7
We are not what we need to be 8
But at least we are not what we used to be 11
-- Football Coach 3

In [33]:
len(text[4].replace('\n',''))

0

In [44]:
in_path = '../data/'
with open(in_path+'small.txt', 'r') as rf:
    book = rf.read()

print(book)
print(book.find('be'))

book[11+len('be'):]
print(book.find('be'))

We are not what we should be
We are not what we need to be
But at least we are not what we used to be
  -- Football Coach


26
26

In [46]:
sml_book = book.lower()
sml_book

'we are not what we should be\nwe are not what we need to be\nbut at least we are not what we used to be\n  -- football coach\n\n'

In [48]:
with open(in_path+'small_book.txt', 'w') as wf:
    wf.write(sml_book)

In [53]:
import random

i = 2
counter = 0
while i%7 != 0:
    i = random.randint(1,10)
    print(i)
    counter += 1
print('Howmany loops', counter)

4
8
10
10
9
10
9
9
6
10
9
2
7
Howmany loops 13

## Read csv file

In [62]:
# comment
data = []  #create an empty list
with open(in_path+'tr_eikon_eod_data.csv', 'r') as rf:
    text_list = rf.readlines()
    for ln in text_list:
        data.append(ln.split(','))

In [79]:
import pandas as pd
data_df = pd.DataFrame(data[1:],columns=data[0])
data_df.set_index('Date', inplace=True)
total = data_df['AAPL.O'].astype(float).sum()
total

170637.45987871129

In [58]:
demo_list = [[1,2,3],
             [4,5,6]]

In [59]:
demo_list[1]

[4, 5, 6]

In [60]:
demo_list[1][1]

5

In [80]:
dic = {'msft': 30, 'aapl': 25, 'amzn':200}  #key-value pair

In [81]:
dic['aapl']

25